<h1>
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  About
</h1>

<hr>

<h2>Developer</h2>
<p><a href="https://github.com/NaokiIshimura">Naoki Ishimura</a></p>

<hr>

<h2>Framework</h2>
<p><a href="http://rubyonrails.org/">Ruby on Rails</a></p>

<hr>

<h2>Gems</h2>
<p><a href="http://getbootstrap.com/">Bootstrap</a></p>
<p><a href="https://github.com/plataformatec/devise">devise</a></p>

<hr>

<h2>Graph</h2>
<p><a href="http://www.chartjs.org/">Chart.js</a></p>

<hr>

<h2>Picture</h2>
<p><a href="https://pixabay.com/ja/users/Pixies-1021586/?tab=latest">Pixabay -Pixies-</a></p>
