<div class="jumbotron" style="background:url(<%= asset_path "top.jpg" %>); background-size:cover;padding-top: 150px;padding-bottom: 150px;">

  <div class="container">
    <h1 style="text-shadow: 0 0 10px #000; color: transparent;">
      <font color="white">
        Simple Data Graph
      </font>
    </h1>

    <h2 style="text-shadow: 0 0 10px #000; color: transparent;">
      <font color="white">
        This is a web application that can easily display received data graphically.
      </font>
    </h2>

    <%= link_to "How to use", static_pages_how_to_use_path, class: "btn btn-lg btn-secondary" , style: "border:1px solid #337ab7" %>
  </div>

</div>
